<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sansam.team.buildingrule.query.mapper.BuildingRuleQueryMapper">

    <select id="findById" resultType="sansam.team.buildingrule.query.dto.BuildingRuleQueryDTO">
        SELECT  rule_seq
               , rule_team_count
               , rule_major_weight
               , rule_career_weight
               , rule_github_weight
               , rule_team_review_weight
               , rule_mentor_review_weight
               , rule_tech_stack_yn
         FROM tbl_building_rule
        WHERE rule_seq = #{ruleSeq}
    </select>

    <select id="findAll" resultType="sansam.team.buildingrule.query.dto.BuildingRuleQueryDTO">
        SELECT
               rule_seq
             , rule_team_count
             , rule_major_weight
             , rule_career_weight
             , rule_github_weight
             , rule_team_review_weight
             , rule_mentor_review_weight
             , rule_tech_stack_yn
        FROM tbl_building_rule
    </select>

    <select id="findByid" resultType="sansam.team.buildingrule.query.dto.BuildingRuleQueryDTO">
        SELECT
               b.team_seq
             , a.rule_team_count
             , a.rule_major_weight
             , a.rule_career_weight
             , a.rule_github_weight
             , a.rule_team_review_weight
             , a.rule_mentor_review_weight
             , a.rule_tech_stack_yn
         FROM tbl_building_rule a
         JOIN tbl_team b ON a.rule_seq = b.rule_seq
    </select>

</mapper>
