<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sansam.team.query.mapper.TeamScheduleQueryMapper">

    <select id="selectTeamScheduleList" resultType="TeamScheduleQueryDTO">
        SELECT team_schedule_seq
        , team_schedule_content
        , DATE_FORMAT(team_schedule_start_date, '%Y-%m-%d %H:%i:%s') team_schedule_start_date
        , DATE_FORMAT(team_schedule_end_date, '%Y-%m-%d %H:%i:%s') team_schedule_end_date
        , DATE_FORMAT(reg_date, '%Y-%m-%d %H:%i:%s') reg_date
        , DATE_FORMAT(mod_date, '%Y-%m-%d %H:%i:%s') mod_date
        FROM tbl_team_schedule
        WHERE team_seq = #{teamSeq}
    </select>

</mapper>

