<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sansam.team.user.query.mapper.UserQueryMapper">

    <select id="findByUserId" resultType="sansam.team.user.query.dto.UserQueryDTO$LoginResponseDTO">
        SELECT user_id
            , user_name
            , user_nickname
            , user_password
            , user_auth
            , user_phone
            , user_email
            , user_birth_date
            , user_gender
            , user_github_id
            , major_seq
            , user_profile_img
            , user_status
            , reg_date
            , mod_date
            , del_date
            , user_pwd_mod_date
            , user_ban_date
        FROM tbl_user
        WHERE user_id = #{id}
    </select>

</mapper>